* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    color: white;
    background-color: #1992d4;
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar i {
    margin-right: 20px;
}

.logo, .menu, .setting {
    margin-left: 20px;
}

.nav {
    display: grid;
    gap: 20px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
}

.actions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.block {
    display: grid;
    gap: 20px;
}